html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.v-center {
  align-self: center;
}

button:hover, button:focus{
  box-shadow: none !important;
}

/* slick slider */

.slick-prev:before {
  content: url("../images/mason/previous-icon.png");
}

.slick-next:before {
  content: url("../images/mason/next-icon.png");
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: #d4001c;
}

@media screen and (max-width: 767px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
