@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@font-face {
  font-family: "Conv_Nexa Bold";
  src: url("../fonts/Nexa Bold.eot");
  src: local("?"), url("../fonts/Nexa Bold.woff") format("woff"),
    url("../fonts/Nexa Bold.ttf") format("truetype"),
    url("fonts/Nexa Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/* =================================
   typography stylesheet
   ==================================  */
.header-txt {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 3.75rem;
  font-family: "Conv_Nexa Bold";
}
h2 {
  font-size: 2.5rem;
  font-family: "Conv_Nexa Bold";
}
h3 {
  font-size: 1.833rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
p,
.text {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 30px;
}
.newsletter-txt {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.footer-txt {
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text-uppercase {
  text-transform: uppercase;
}

/* =================================
   color stylesheet
   ==================================  */

.text-white,
.text-white a {
  color: #fff;
}
.text-blue,
.text-blue a {
  color: #112769;
}
.text-black,
.text-black a {
  color: #1a1818;
}
.text-red {
  color: #d4001c;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.v-center {
  align-self: center;
}

button:hover,
button:focus {
  box-shadow: none !important;
}

input {
  padding: 10px;
  color: #3f3f41;
  font-size: 1rem;
  border: 1px solid #3f3f41;
  border-radius: 5px;
  background: transparent;
  outline: none;
}

input:hover,
input:focus,
select:hover,
select:focus {
  box-shadow: none !important;
}

.heading {
  font-size: 38px;
  line-height: 40px;
  color: #112769;
  text-align: center;
  text-transform: uppercase;
}

.sub-heading {
  color: #1a1818;
}

.underline {
  width: 105px;
  border-top: 2px solid #d4001c;
  margin-left: auto;
  margin-right: auto;
}

.line {
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 500;
  color: #1a1818;
}

.content-section {
  padding: 60px 0px;
  text-align: center;
}

/*----------------------- from ---------------------*/

.form-group {
  position: relative;
}

form label {
  font-size: 1rem;
  font-weight: 600;
  color: #112769;
}

.form-control {
  border: 1px solid #3f3f41;
  border-radius: 5px;
  padding: 7px;
}

.form-control ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3f3f41;
  font-weight: 300;
  opacity: 1; /* Firefox */
}

.form-control :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3f3f41;
  font-weight: 300;
}

.form-control ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #3f3f41;
  font-weight: 300;
}

.error {
  position: absolute;
  font-size: 0.625rem;
  line-height: 1rem;
  color: #ff0000;
}

/*----------------------- /from ---------------------*/

/*---------------------- button css ------------------*/
.btn {
  font-family: inherit;
  font-weight: 300;
  font-size: 1rem;
  padding: 7px 15px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #ebebeb;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #f5f5f5;
}

.btn-white {
  color: #0f3975;
  outline: none;
  cursor: pointer;
}

.btn-blue {
  color: #ffffff;
  background-color: #112769;
  border: 1px solid #112769;
}

.btn-blue:hover {
  color: #000000;
  background-color: #ffffff;
}

.btn-blue-inverse {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #112769;
}

.btn-blue-inverse:hover {
  color: #ffffff;
  background-color: #112769;
}

/*---------------------- /button css ------------------*/

/*-------------------- slick slider css --------------------*/

.slick-prev:before {
  content: url("../images/mason/previous-icon.png");
}

.slick-next:before {
  content: url("../images/mason/next-icon.png");
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: #d4001c;
}

/*-------------------- /slick slider css --------------------*/

/*--------------------- feature-list -----------------------*/

.feature-list {
  list-style-type: none;
  padding: 0;
  margin: 50px 0px 0px;
}

.feature-list li {
  display: inline-block;
  width: 210px;
  vertical-align: top;
}

.feature-list li p {
  color: #1a1818;
  margin: 15px 0px;
  line-height: 24px;
  font-weight: 300;
}

.feature-list li div {
  display: flex;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 50%;
  webkit-box-shadow: 5px 5px 5px -6px rgba(245, 245, 245, 1);
  -moz-box-shadow: 5px 5px 5px -6px rgba(245, 245, 245, 1);
  box-shadow: 5px 5px 5px -6px rgba(245, 245, 245, 1);
  transition: all 0.2s ease-in-out;
}

.feature-list li div:hover {
  background-color: #112769;
  webkit-box-shadow: 5px 5px 5px -6px rgba(17, 39, 105, 1);
  -moz-box-shadow: 5px 5px 5px -6px rgba(17, 39, 105, 1);
  box-shadow: 5px 5px 5px -6px rgba(17, 39, 105, 1);
}

.feature-list li div svg {
  width: 170px;
  margin: auto;
  fill: #112769;
}

.feature-list li div:hover svg {
  fill: #ffffff;
}

.feature-list li div:hover + p {
  color: #112769;
}

/*-------------------- /feature-list --------------------*/

/*------------------- hero-bg ---------------------*/

.hero-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../images/banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-bg h1 {
  font-size: 3.125rem;
  line-height: 70px;
  color: #ffffff;
  text-transform: uppercase;
}

.hero-bg section {
  padding: 30px 0px 60px;
}

.hero-img {
  padding-bottom: 20px;
}

/*------------------- /hero-bg ---------------------*/

/*------------------ header css -----------------------*/

nav {
  background: transparent;
  padding: 30px 0px 0px;
  height: 100px;
  margin-bottom: 30px;
}

nav .v-center {
  align-self: center;
}

.logo {
  padding-top: 10px;
}

.quote {
  padding-top: 15px;
  padding-left: 30px;
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dropdown {
  display: inline-block;
  padding-right: 13px;
}

.dropdown a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
}

.dropdown .dropdown-item {
  color: #000000;
}

.dropdown-toggle::after {
  content: url("../images/dropdown-arrow.svg");
  border: none;
  vertical-align: text-bottom;
}

.buy-online {
  color: #0f3975;
}

.nav-right {
  text-align: right;
}

.search-btn {
  padding: 0px 20px;
}

.hamburger-menu {
  display: inline;
}

.hamburger-menu .dropdown-toggle:after {
  content: none;
}

.mobile {
  display: none;
}

.mobile-search {
  display: none;
}

.hamburger-menu .dropdown-menu {
  transform: translate3d(60px, 45px, 0px) !important;
}

@media screen and (max-width: 992px) {
  nav {
    padding: 10px 0;
    background: #112769;
    height: auto;
  }
  nav .container {
    max-width: 100%;
  }

  nav .nav-left {
    width: 50%;
  }
  nav .nav-right {
    margin-top: 10px;
    width: 45%;
  }

  nav .nav-center {
    display: none;
  }

  nav .nav-right {
    text-align: right;
  }

  .hamburger-menu .dropdown-menu {
    transform: none;
  }

  nav .nav-right nav .nav-right .search-btn,
  nav .nav-right .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile .navbar-toggler {
    position: absolute;
    top: 40px;
    right: 0;
  }

  .mobile .dropdown {
    padding: 5px 15px;
  }

  .mobile .dropdown-toggle::after {
    content: url("../images/dropdown-arrow.svg");
    border: none;
    vertical-align: text-bottom;
  }

  .mobile .dropdown-menu {
    transform: translate3d(15px, 40px, 0px) !important;
  }
}

@media screen and (max-width: 767px) {
  nav {
    padding: 10px 0;
    background: #112769;
    height: auto;
  }
  nav .nav-left {
    width: 80%;
  }
  .quote {
    /* display: none; */
    width: 50%;
    margin-left: -10px;
  }

  nav .nav-right {
    width: 20%;
  }

  nav .nav-right .buy-online,
  nav .nav-right .search-btn,
  nav .nav-right .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile .navbar-toggler {
    position: absolute;
    top: 40px;
    right: 0;
  }

  .mobile .dropdown {
    padding: 5px 15px;
  }

  .mobile .dropdown-toggle::after {
    content: url("../images/dropdown-arrow.svg");
    border: none;
    vertical-align: text-bottom;
  }

  .mobile .dropdown-menu {
    transform: translate3d(15px, 40px, 0px) !important;
  }

  /* search for mobile */

  .mobile-search {
    display: block;
  }

  .mobile-search input {
    border-radius: 25px 0 0 25px;
    width: calc(100% - 52px);
    height: 40px;
    border: none;
    font-weight: normal;
  }
  .mobile-search button {
    margin-left: -1px;
    height: 40px;
    border-radius: 0 25px 25px 0;
    padding-left: 10px;
    border: none;
    color: red;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .quote {
    /* display: none; */
    width: 30%;
    margin-left: -10px;
  }

  .mobile-search input {
    margin: 0 !important;
    width: calc(100% - 52px) !important;
  }
}

@media only screen and (width: 1024px) {
  .menu {
    margin-left: -50px;
  }

  .dropdown {
    padding-right: 1.6%;
  }

  .buy-online {
    color: #0f3975;
    margin-left: -50px;
  }
}

/*------------------ /header css -----------------------*/

/*------------------ mason/dealer css --------------------*/

.mason-hero-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../images/banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mason-hero-bg h1 {
  font-size: 50px;
  line-height: 70px;
}

.mason-hero-bg section {
  padding: 30px 0px 60px;
}

.mason-features,
.mason-form,
.testimonial {
  padding: 60px 0px;
  text-align: center;
}

.mason-features h2,
.mason-form h2,
.testimonial h2 {
  font-size: 38px;
  line-height: 40px;
  color: #112769;
  text-transform: uppercase;
}

.mason-features hr,
.mason-form hr,
.testimonial hr {
  width: 105px;
  border-top: 2px solid #d4001c;
  margin-left: auto;
  margin-right: auto;
}

.mason-features p {
  color: #1a1818;
}

.mason-form section {
  border-radius: 5px;
  border-top: 5px solid #000;
  margin-top: 60px;
  -webkit-box-shadow: -1px 1px 5px 0px rgba(235, 235, 235, 1);
  -moz-box-shadow: -1px 1px 5px 0px rgba(235, 235, 235, 1);
  box-shadow: -1px 1px 5px 0px rgba(235, 235, 235, 1);
}

.mason-form section img {
  width: 100%;
}

.mason-form section form {
  padding: 60px;
}

.mason-form section form h3 {
  font-size: 22px;
  color: #1a1818;
  margin-bottom: 15px;
}

.mason-form section form p {
  color: #cd2121;
  margin-bottom: 24px;
}

.mason-form section form .form-group {
  text-align: left;
  margin-bottom: 30px;
}

.mason-form section form .form-group label {
  color: #112769;
  font-weight: 600;
}

.mason-form section form button {
  width: 45%;
}

.mason-form section form button:first-of-type {
  float: left;
}

.mason-form section form button:first-of-type:hover {
  background-color: #16338a;
  color: #ffffff;
}

.mason-form section form button:last-of-type {
  float: right;
}

.locator-results {
  margin: 60px 0px;
}

.locator-results section {
  position: relative;
  border-radius: 5px;
  text-align: center;
  padding: 60px 15px 15px;
  margin-bottom: 90px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(214, 214, 214, 1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(214, 214, 214, 1);
  box-shadow: 0px 5px 5px 0px rgba(214, 214, 214, 1);
}

.locator-results section .map-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  fill: #112769;
}

.locator-results section:hover .map-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  fill: #ffffff;
}

.locator-results section .view-more-svg {
  margin-left: 8px;
  fill: #d4001c;
}

.locator-results section:hover {
  background: rgb(17, 39, 105);
  background: linear-gradient(
    180deg,
    rgba(17, 39, 105, 1) 20%,
    rgba(8, 126, 165, 1) 80%
  );
}

.locator-results section:hover p,
.locator-results section:hover a {
  color: #ffffff !important;
}
.locator-results section:hover .view-more-svg {
  fill: #ffffff;
}

.locator-results section .person {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 0;
  margin-top: -45px;
}

.locator-results section p {
  margin-bottom: 0px;
}

.locator-results section .result-type {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #1a1818;
}

.locator-results section span {
  font-weight: 600;
}

.locator-results section a {
  display: inline-block;
  color: #d4001c;
  font-weight: 600;
  margin-top: 7px;
}

.locator-results section .certified {
  width: 70px;
  height: 35px;
  background-color: #d4001c;
  position: absolute;
  top: 0;
  right: 10px;
}

.locator-results section .certified p {
  color: #ffffff;
  font-size: 9px;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 5px;
}

.locator-results section .certified .down-arrow {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 12px solid #d4001c;
}

.locator-results section:hover .certified,
.locator-results section:hover .certified p {
  color: #112769 !important;
  background-color: #ffffff;
}

.locator-results section:hover .certified .down-arrow {
  border-top: 12px solid #ffffff;
}

.testimonial {
  background-color: #f5f5f5;
}

.testimonial-slider {
  margin-top: 60px;
  text-align: left;
}

.testimonial-slider .slick-slide {
  padding: 15px;
  outline: none;
}

.testimonial-slider .name {
  font-size: 22px;
  color: #112769;
  margin-top: 15px;
  margin-bottom: 10px;
}

.testimonial-slider .content {
  color: #1a1818;
  line-height: 25px;
}

@media screen and (max-width: 992px) {
  .mason-hero-bg h1 {
    transform: translateY(-40px);
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .mason-hero-bg h1 {
    transform: translateY(-40px);
  }
  .mason-hero-bg section {
    padding: 0;
  }
  .mason-features h2 {
    line-height: 48px;
  }

  .mason-form section form {
    padding: 30px;
  }

  .mason-form section form h3 {
    font-size: 18px;
  }

  .mason-form section img {
    margin-top: 30px;
  }
}

/* modal */

.modal {
  background: #ffffff75;
}

.modal .modal-dialog {
  max-width: 562px;
}

.modal .modal-content {
  background: rgb(17, 39, 105);
  background: linear-gradient(
    180deg,
    rgba(17, 39, 105, 1) 20%,
    rgba(8, 126, 165, 1) 80%
  );
  box-shadow: 0px 10px 20px #00000029;
  border-radius: 5px;
  border: none;
}

.modal-body .close {
  color: white;
  font-size: 24px;
  font-weight: 200;
  opacity: 1;
}

.modal .modal-body .info-div {
  margin-top: 24px;
}

.modal .modal-body .info-div .d-table {
  margin-bottom: 4px;
}

.modal .modal-body .info-div .d-table .head {
  width: 75px;
  font-weight: 600;
}

/* modal tabs */
#modalTab {
  text-align: center;
  display: flex;
  justify-content: center;
}

#modalTab .nav-link {
  height: 48px;
  margin-right: 16px;
  border: 1px solid #ffffff;
  border-radius: 5px 5px 0px 0px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #ffffff;
}

#modalTab .nav-link svg {
  margin-right: 6px;
  fill: #ffffff;
}

#modalTab .nav-link.active {
  color: #112769;
  border-color: none;
}

#modalTab .nav-link.active svg {
  fill: #112769;
}

.tab-content {
  padding-top: 24px;
}

.tab-content form .row,
.tab-content form .button-col {
  display: flex;
  justify-content: center;
}

.tab-content form input {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff !important;
}
.tab-content form input:focus,
.tab-content form input:hover {
  background-color: transparent;
}
.tab-content form input::placeholder {
  color: #ffffff75;
}

.tab-content form .button-col {
  margin-top: 16px;
}

.tab-content form .button-col button {
  height: 48px;
  width: 50%;
  font-size: 16px;
  font-weight: 600;
  color: #112769;
}

/*------------------ / mason/dealer css --------------------*/

/*------------------ ask-expert css --------------------*/

.expert-hero-bg section {
  padding-bottom: 0;
}

.expert-hero-bg .expert-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.expert-hero-bg .expert-form h3 {
  font-size: 1.375rem;
  line-height: 1.375rem;
  color: #1a1818;
  text-align: center;
  padding: 0;
  margin: 10px 0px 30px;
}

.expert-hero-bg .expert-form .form-group {
  margin-bottom: 1.5rem;
}

.expert-hero-bg .expert-form .btn {
  width: 100%;
  font-weight: 600;
  padding: 10px 15px;
}

.expert-testimonials {
  background-color: #f5f5f5;
}

@media screen and (max-width: 992px) {
  .expert-hero-bg .expert-form {
    margin: 15px 0px;
  }
}

/*------------------ / ask-expert css --------------------*/

/*---------------------- footer css ------------------------*/

.footer_wrapper {
  float: left;
  width: 100%;
  background: #000;
  /* margin-top: 40px; */
}
.footer-links ul {
  color: #fff;
  list-style: none;
  padding: 0;
}
.footer-links ul li {
  margin-bottom: 24px;
}
.connect {
  margin-top: 24px;
}
.footer-info {
  float: left;
  width: 100%;
}
.social-links a {
  border-radius: 50%;
  color: #000;
}
.social-links {
  float: left;
  width: 100%;
}

.social-links a {
  margin: 0 10px 0 0;
}
.footer-wrpper-sec {
  float: right;
}
.newsletter {
  margin-top: 100px;
}
input.newsletter_input {
  border: 2px solid #fff;
  margin-top: 20px;
  width: calc(100% - 55px);
  border-radius: 10px 0 0 10px;
  height: 46px;
}
.footer-second {
  background: #1a1818 0% 0% no-repeat padding-box;
  float: left;
  width: 100%;
  padding: 10px 0;
}
.copyright {
  letter-spacing: 0.64px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
.newsletter_button {
  border: 2px solid #fff;
  height: 46px;
  position: relative;
  top: 20px;
  left: -10px;
  width: 50px;
  float: right;
  border-radius: 0 10px 10px 0;
  border-left: none;
  background: no-repeat;
}

.newsletter_button:hover,
.newsletter_button:focus {
  outline: none;
}
.newsletter_input::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
}

.newsletter_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.newsletter_input {
  color: #ffffff;
  opacity: 1;
}

.newsletter_input::placeholder {
  color: #fff;
  opacity: 0.7;
}

@media screen and (max-width: 992px) {
  .footer-wrpper-sec {
    float: left;
  }
}

@media screen and (max-width: 767px) {
  .footer-txt {
    font-size: 1rem;
  }

  .footer-links ul li {
    margin-bottom: 16px;
  }
  .connect {
    margin-top: 16px;
  }
  .connect h3 {
    margin-top: -8px;
    font-size: 0.875rem;
  }
  .footer-wrpper-sec {
    margin-top: 16px;
    float: left;
  }

  input.newsletter_input {
    width: calc(100% - 120px);
  }
  .newsletter_button {
    left: -72px;
  }

  .newsletter_input::placeholder {
    color: #fff;
    font-size: 12px;
  }
}

/*---------------------- /footer css ------------------------*/

@media screen and (max-width: 767px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

/* home building css */

.mason-features .feature-list li div .stroke-svg {
  stroke: #112769;
}

.mason-features .feature-list li div:hover .stroke-svg {
  stroke: #ffffff;
}

.step-block {
  position: relative;
  padding: 60px 0;
}

.step-block::after {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  height: 100%;
  border-right: 2px solid transparent;
  border-image: url(../images/home-building/path3050@2x.png) 50 stretch;
  transform: translateX(-50%);
}

.step-block-1::after {
  top: 12.8%;
  height: 87.2%;
}

.step-block-3::before {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #112769;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.step-block .grid-row .col-sm-6 {
  margin-top: 80px;
}

.step-block .grid-row .text-col,
.step-block .grid-row .img-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-block .grid-row .number-title {
  position: relative;
  margin-bottom: 16px;
  margin-left: 40px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.1;
  color: #1a1818;
}

.step-block .grid-row .number-title::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -40px;
  width: 27px;
  border-top: 2px solid #d4001c;
  transform: translateY(-50%);
}

.step-block .grid-row .title {
  position: relative;
  margin-bottom: 16px;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1a366f;
}

.step-block .grid-row .order-sm-2 .title::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -27%;
  width: 22%;
  border-top: 2px solid #1a366f;
  border-right: 10px;
  transform: translateY(-50%);
}
.step-block .grid-row .order-sm-2 .title::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: #1a366f;
  border-radius: 100%;
  top: 50%;
  left: -110px;
  transform: translateY(-50%);
  z-index: 2;
}

.step-block .grid-row .left-text-1 .title::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -42%;
  width: 22%;
  border-top: 2px solid #1a366f;
  border-right: 10px;
  transform: translateY(-50%);
}
.step-block .grid-row .left-text-1 .title::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: #1a366f;
  border-radius: 100%;
  top: 50%;
  right: -48.2%;
  transform: translateY(-50%);
  z-index: 2;
}

.step-block .grid-row .left-text-2 .title::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -30%;
  width: 22%;
  border-top: 2px solid #1a366f;
  border-right: 10px;
  transform: translateY(-50%);
}
.step-block .grid-row .left-text-2 .title::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: #1a366f;
  border-radius: 100%;
  top: 50%;
  right: -35.5%;
  transform: translateY(-50%);
  z-index: 2;
}

.quote-block {
  padding: 60px 0;
  text-align: center;
  min-height: 265px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-block-1 {
  background: transparent linear-gradient(180deg, #112769 0%, #087ea5 100%) 0%
    0% no-repeat padding-box;
}
.quote-block-2 {
  background: transparent linear-gradient(180deg, #d4001c 0%, #6a000e 100%) 0%
    0% no-repeat padding-box;
}

.quote-block .quote {
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .mason-hero-bg h1 br {
    display: none;
  }

  .step-block .grid-row .text-col {
    margin-top: 40px;
  }

  .step-block .grid-row .text-col br {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .mason-hero-bg h1 br {
    display: none;
  }

  .step-block .grid-row .text-col br {
    display: none;
  }

  .step-block::after,
  .step-block-3::before {
    content: none;
  }

  .step-block .grid-row .order-sm-2 .title::before,
  .step-block .grid-row .order-sm-2 .title::after {
    content: none;
  }

  .step-block .grid-row .left-text-1 .title::after,
  .step-block .grid-row .left-text-1 .title::before,
  .step-block .grid-row .left-text-2 .title::after,
  .step-block .grid-row .left-text-2 .title::before {
    content: none;
  }
}

@media screen and (max-width: 1024px) {
  .step-block .grid-row .order-sm-2 .title::after {
    width: 10%;
    left: -12%;
  }
  .step-block .grid-row .order-sm-2 .title::before {
    left: -17%;
  }

  .step-block .grid-row .left-text-1 .title::after {
    width: 10%;
    right: -26.5%;
  }
  .step-block .grid-row .left-text-1 .title::before {
    right: -33%;
  }

  .step-block .grid-row .left-text-2 .title::after {
    width: 10%;
    right: -16.5%;
  }
  .step-block .grid-row .left-text-2 .title::before {
    right: -22%;
  }
}

/* /home building css */

/* product-sd-rebars */

.about-us {
  padding: 60px 0;
  background: #f5f5f5;
}

.about-us .grid-row {
  padding-top: 60px;
}

.about-us .grid-row .text-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us .grid-row .title {
  position: relative;
  margin-bottom: 16px;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1a366f;
}

.about-us .grid-row .img-col {
  position: relative;
}

.about-us .grid-row .img-col .img-1 {
  float: right;
}
.about-us .grid-row .img-col .img-2 {
  margin-top: -300px;
}

.unbeatable-strength {
  padding: 60px 0;
  background: #ffffff;
}

.unbeatable-strength .grid-row {
  padding-top: 60px;
}

.unbeatable-strength .grid-row .img-col img {
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

.unbeatable-strength .grid-row .text-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.unbeatable-strength .grid-row .text-col .title {
  position: relative;
  margin-bottom: 16px;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1a366f;
}

.unbeatable-strength .grid-row .text-col .icon-row {
  margin-top: 12px;
}
.unbeatable-strength .grid-row .text-col .icon-row .col-sm-3 {
  text-align: center;
}
.unbeatable-strength .grid-row .text-col .icon-row .col-sm-3 .icon-para {
  margin-top: 8px;
  font-size: 0.9rem;
}

.unbeatable-strength .grid-row .text-col .download-link {
  color: #d4001c;
  font-weight: 600;
  margin-top: 26px;
}
.unbeatable-strength .grid-row .text-col .download-link img {
  margin-right: 6px;
}

.apart-section {
  padding: 60px 0;
  background: linear-gradient(180deg, #087ea5 0%, #112769 100%);
}

.apart-section .underline {
  border-top: 2px solid #ffffff;
}

.apart-section .grid-row {
  padding-top: 60px;
}

.apart-section .grid-row .title {
  margin: 16px 0 12px 0;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
}

.architectural-application {
  padding: 60px 0 48px 0;
}

.architectural-application .grid-row {
  padding-top: 60px;
}

.architectural-application .grid-row .col-sm-4 {
  margin-bottom: 12px;
}

.architectural-application .grid-row .title {
  margin-top: 12px;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1a366f;
}

.sd-rebars {
  padding: 60px 0;
  background: #f5f5f5;
}
.sd-rebars .nav-tabs {
  margin-top: 30px;
  justify-content: center;
  border: none;
}

.sd-rebars .nav-tabs .nav-item {
  padding: 0px 15px;
}

.sd-rebars .nav-item a {
  font-size: 16px;
  font-weight: 500;
  color: #1a1818;
  opacity: 0.5;
  border: none;
  transition: all 0.2s ease-in-out;
  padding: 6px 0px;
}
.sd-rebars .nav-item .active {
  background: initial;
  color: #d4001c;
  opacity: 1;
  border-bottom: 1px solid #d4001c;
}

.sd-rebars .tab-content .tab-pane {
  padding-top: 20px;
}
.sd-rebars .tab-content .tab-pane .img-div {
  position: relative;
  display: inline-block;
}
.sd-rebars .tab-content .tab-pane img {
  margin-top: 20px;
}

.sd-rebars .tab-content .img-div .click-div {
  position: absolute;
  padding-top: 2px;
  width: 25px;
  height: 25px;
  font-size: 16px;
  color: #ffffff;
  background: #112769;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 5px #1127695e;
}

.sd-rebars .tab-content .img-div .click-div-1 {
  top: 28%;
  left: 18%;
}
.sd-rebars .tab-content .img-div .click-div-1:after {
  position: absolute;
  bottom: 12px;
  left: -100px;
  content: "";
  height: 50px;
  width: 100px;
  border-left: 2px dashed #112769;
  border-bottom: 2px dashed #112769;
}
.sd-rebars .tab-content .img-div .click-div-1:before {
  position: absolute;
  min-width: 200px;
  bottom: 65px;
  left: -100px;
  content: url("../images/product-sd-rebars/stress-absorbtion-small.svg")
    " Stress Absorption";
  padding: 8px 16px;
  background: #ffffff;
  font-size: 14px;
  color: #1a1818;
  box-shadow: 0px 5px 16px #00000029;
  border-radius: 5px;
  transform: translateX(-50%);
}

.sd-rebars .btn-div .btn-blue {
  margin-right: 10px;
}

.sd-rebars .modal {
  background: #ffffffe0;
}
.sd-rebars .modal-dialog {
  max-width: 1190px;
}

.sd-rebars .modal .modal-content {
  background: transparent;
  box-shadow: none;
}

.sd-rebars .modal .modal-content table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.sd-rebars .modal .modal-content thead {
  background: #d4001c;
}

.sd-rebars .modal .modal-content thead th {
  border-right: 1px solid white;
  border-left: 1px solid white;
  font-weight: 500;
  box-shadow: 0px 5px 10px #00000029;
}
.sd-rebars .modal .modal-content thead th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: none;
}
.sd-rebars .modal .modal-content thead th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: none;
}

.sd-rebars .modal .modal-content tbody tr {
  box-shadow: 0px 5px 10px #00000029;
}
.sd-rebars .modal .modal-content tbody td {
  border-right: 1px solid #d4001c;
  border-left: 1px solid #d4001c;
  height: 60px;
}
.sd-rebars .modal .modal-content tbody td .d-flex div {
  width: 50%;
}
.sd-rebars .modal .modal-content tbody td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: none;
}
.sd-rebars .modal .modal-content tbody td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: none;
}

.bg-grey {
  background: #f5f5f5;
  font-size: 0.9375rem;
  font-weight: 500;
  color: #112769;
}
.bg-white {
  background: #ffffff;
  font-weight: normal;
}

.plus-container {
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.plus-container section {
  position: absolute;
}

.plus-desc {
  position: absolute;
  display: inline-block;
  padding: 10px;
  line-height: 10px;
  background-color: #112768;
  color: #ffffff;
  border-radius: 16px;
}

.plus-info {
  position: absolute;
  display: none;
  width: 80px;
  height: 80px;
  border-right: 2px dashed;
  border-bottom: 2px dashed;
  top: -64px;
}

.plus-info span {
  position: absolute;
  display: inline-block;
  top: -48px;
  width: 200px;
  padding: 12px;
  margin-left: -48px;
}

.activated {
  display: inline-block;
}

#plus-sign-one {
  top: 100px;
  left: 250px;
}

#plus-sign-two {
  top: 85px;
  left: 120px;
}

#plus-sign-three {
  bottom: 110px;
  right: 205px;
}

#plus-sign-four {
  bottom: 80px;
  right: 95px;
}

#plus-info-three {
  top: 244px;
  right: 240px;
  border-right: none;
  border-left: 2px dashed;
  height: 20px;
  width: 200px;
}

#plus-info-one {
  top: 35px;
  left: 285px;
}

#plus-info-two {
  border-right: none;
  border-left: 2px dashed;
  top: 23px;
  left: 35px;
  border-right: none;
  border-left: 2px dashed;
}

#plus-info-two span {
  left: -50px;
}

#plus-info-three span {
  margin-left: 0;
  left: -100px;
}

#plus-info-four {
  top: 212px;
  right: 10px;
}

@media screen and (max-width: 767px) {
  .about-us .grid-row .img-col .img-1 {
    width: 70%;
  }
  .about-us .grid-row .img-col .img-2 {
    margin-top: -200px;
    width: 50%;
  }

  .unbeatable-strength .grid-row .text-col {
    margin-top: 60px;
  }

  .sd-rebars .btn-blue {
    margin-bottom: 16px;
  }

  .sd-rebars .modal .modal-content {
    overflow-x: scroll;
  }

  .sd-rebars .nav-tabs .nav-item {
    width: 50%;
    margin-bottom: 20px;
  }

  .tab-content {
    padding-top: 15px;
  }

  .sd-rebars .btn-div button {
    width: 300px;
    margin-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .about-us .grid-row .text-col br {
    display: none;
  }
  .about-us .grid-row .img-col .img-1 {
    width: 80%;
  }
  .about-us .grid-row .img-col .img-2 {
    margin-top: -200px;
    width: 60%;
  }
  .unbeatable-strength .grid-row .text-col br {
    display: none;
  }
  .sd-rebars .tab-content br {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  /* .about-us .text-col {
    text-align: center;
  } */

  .unbeatable-strength .img-col {
    text-align: center;
  }
}

/* /product-sd-rebars */

/* tata ashiyana */

.ashiyana-title {
  padding: 60px 0;
}

.ashiyana {
  margin-bottom: 80px;
  padding: 80px 0;
  background: linear-gradient(#ffffffb3, #ffffffb3),
    url("../images/tata-ashiyana-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ashiyana .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ashiyana .container button {
  margin-top: 50px;
}
.ashiyana .container button svg .a {
  fill: #ffffff;
}
.ashiyana .container button:hover svg .a {
  fill: #1a1818;
}

/* /tata ashiyana */
