nav {
  background: transparent;
  padding: 30px 0px 0px;
  height: 100px;
  margin-bottom: 30px;
}

nav .v-center {
  align-self: center;
}

.logo {
  padding-top: 10px;
}

.quote {
  padding-top: 15px;
  padding-left: 30px;
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dropdown {
  display: inline-block;
  padding-right: 13px;
}

.dropdown a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
}

.dropdown .dropdown-item {
  color: #000000;
}

.dropdown-toggle::after {
  content: url("../images/dropdown-arrow.svg");
  border: none;
  vertical-align: text-bottom;
}

.buy-online {
  color: #0f3975;
}

.nav-right {
  text-align: right;
}

.search-btn {
  padding: 0px 20px;
}

.hamburger-menu {
  display: inline;
}

.hamburger-menu .dropdown-toggle:after {
  content: none;
}

.mobile {
  display: none;
}

.mobile-search {
  display: none;
}

.hamburger-menu .dropdown-menu {
  transform: translate3d(60px, 45px, 0px) !important;
}

@media screen and (max-width: 992px) {
  nav {
    padding: 10px 0;
    background: #112769;
    height: auto;
  }
  nav .container {
    max-width: 100%;
  }

  nav .nav-left {
    width: 50%;
  }
  nav .nav-right {
    margin-top: 10px;
    width: 45%;
  }

  nav .nav-center {
    display: none;
  }

  nav .nav-right {
    text-align: right;
  }

  .hamburger-menu .dropdown-menu {
    transform: none;
  }

  nav .nav-right nav .nav-right .search-btn, nav .nav-right .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile .navbar-toggler {
    position: absolute;
    top: 40px;
    right: 0;
  }

  .mobile .dropdown {
    padding: 5px 15px;
  }

  .mobile .dropdown-toggle::after {
    content: url("../images/dropdown-arrow.svg");
    border: none;
    vertical-align: text-bottom;
  }

  .mobile .dropdown-menu {
    transform: translate3d(15px, 40px, 0px) !important;
}
  
}

@media screen and (max-width: 767px) {
  nav {
    padding: 10px 0;
    background: #112769;
    height: auto;
  }
  nav .nav-left {
    width: 80%;
  }
    .quote {
    /* display: none; */
    width: 50%;
    margin-left: -10px
  }

  nav .nav-right {
    width: 20%;
  }

  nav .nav-right .buy-online, nav .nav-right .search-btn, nav .nav-right .desktop {
    display: none;
  }

.mobile {
    display: block;
  }

  .mobile .navbar-toggler {
    position: absolute;
    top: 40px;
    right: 0;
  }

  .mobile .dropdown {
    padding: 5px 15px;
  }

  .mobile .dropdown-toggle::after {
    content: url("../images/dropdown-arrow.svg");
    border: none;
    vertical-align: text-bottom;
  }

  .mobile .dropdown-menu {
    transform: translate3d(15px, 40px, 0px) !important;
}

/* search for mobile */

.mobile-search {
  display: block;
}

.mobile-search input  {
  border-radius: 25px 0 0 25px;
  width: calc(100% - 52px);
  height: 40px;
  border: none;
  font-weight: normal;
}
.mobile-search button {
  margin-left: -1px;
  height: 40px;
  border-radius: 0 25px 25px 0;
  padding-left: 10px;
  border: none;
  color: red;
}
}

@media only screen and (max-width: 767px) and (orientation: landscape) {

  .quote {
    /* display: none; */
    width: 30%;
    margin-left: -10px
  }

  .mobile-search input  {
    margin: 0 !important;
    width: calc(100% - 52px) !important;
  }
}

@media only screen and (width: 1024px) {
  .menu {
    margin-left: -50px
  }
  
  .dropdown {
    padding-right: 1.6%;
  }

  .buy-online {
    color: #0f3975;
    margin-left: -50px;
  }
}