nav {
  background: transparent;
  height: 100px;
}

nav .v-center {
  align-self: center;
}

.logo {
  padding-top: 10px;
}

.quote {
  padding-top: 15px;
  padding-left: 30px;
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dropdown {
  display: inline-block;
  padding-right: 10px;
}

.dropdown a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
}

.dropdown .dropdown-item {
  color: #000000;
}

.dropdown-toggle::after {
  content: url("../images/dropdown-arrow.svg");
  border: none;
  vertical-align: text-bottom;
}

.buy-online {
  color: #0f3975;
}

.search-btn {
  padding: 0px 20px;
}

.hamburger-menu {
  display: inline;
}

.hamburger-menu .dropdown-toggle:after {
  content: none;
}

.hamburger-menu .dropdown-menu {
  transform: translate3d(30px, 45px, 0px) !important;
}

@media screen and (max-width: 992px) {
  nav .container {
    max-width: 100%;
  }

  nav .nav-center {
    display: none;
  }

  nav .nav-right {
    text-align: right;
  }

  .hamburger-menu .dropdown-menu {
    transform: translate3d(154px, 45px, 0px) !important;
  }
}
